@import "./mixins";
.our-skills {
  @include sectionPaddingPosition($padding-top: var(--main-padding-top), $padding-bottom: var(--main-padding-bottom), $position: relative);
}
.our-skills .container {
  @include flexCenter($justify-content: unset, $align-items: center);
}
.skills {
  flex: 1;
}
.skill h6 {
  @include flexCenter($justify-content: space-between, $align-items: center);
  font-size: 26px;
  margin: 25px 0;
}
.skill h6 span {
  font-size: 12px;
  border: 1px solid #CCC;
  padding: 3px 5px;
  color: var(--mainColor);
  border-radius: 4px;
}
.the-progress {
  height: 30px;
  background-color: #eee;
  position: relative;
}
.the-progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--mainColor);
}